html, body {
    background-color: #555;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none;}

.book {
    position:absolute;
    left:235px;
    right:235px;
    top:5px;
    min-width: 350px;
    background-color: white;
    border:1px solid black;
    padding:15px;
}

#action-console {
    border:1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #333;
    background-color: #eee;
    padding:5px;
    height:135px;
}

#action-console h5 {
    text-align:center;
    padding-bottom:5px;
    border-bottom: 1px solid #555;
}

#action-console ul {
    margin:0;
    padding:0;
    max-height:130px;
    overflow-y: auto;
}

#action-console ul li {
    list-style: none;
    width: 100%;
}

.wide {
    right: 5px;
}

.narrow {
    right: 235px;
}

.book > .content {
    height: 540px;
    padding:10px;
    overflow-y: auto;
}

ul.actions {
    max-height: 200px;
    overflow-y: auto;
}

ul.actions > li {
    list-style: circle;
}

#reader {
    position:relative;
    padding:10px;
}

.book > .location {
    font-weight:bold;
}

.book > .header {
    padding:10px;
}

.book > .footer {
    min-height: 9em;
}

.book > .header > p {
    text-align:center;
    font-weight:bold;
}

.book > h2 {
    font-size:14pt;
    text-align:center;
    margin-bottom: 10px;
}

.book > h4 {
    text-align:center;
    margin-bottom:10px;
}

.book > p {
    text-align: justify;
    font-size:120%;
}

#encounter {
    right: 5px;
}

#encounter label {
    font-size:80%;
}

#heroe {
    left: 5px;
}

.slide-panel {
    position:absolute;
    width: 200px;
    padding:10px;
    height:735px;
    background-color: #eee;
    box-shadow:1px 1px 3px #000;
    border-radius: 5px;
    bottom:5px;
    top:5px;
}

.stats {
    font-size:80%;
}

.modal-body {
    text-align:center;
}

#titlepage {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: transparent url(../img/title_texture.jpg) no-repeat;
    background-size: auto 100%;
    text-align:center;
    padding:0;
    margin:0;
}

#titlepage h1 {
    padding-top:120px;
    color: #eee;
    font-size:48pt;
    font-family: serif;
    text-shadow: 5px 5px 15px black;
}

#titlepage h2 {
    padding-top:30px;
    color: #E9DC51;
    font-size:28pt;
    font-family: serif;
    text-shadow: 2px 2px 10px black;
}

#titlepage .profiles {
    margin:50px;
    color: white;
    max-height: 30em;
    overflow-y: auto;
}

#titlepage .profiles li {
    position:relative;
    margin-top:5px;
    list-style: none;
    border-radius: 5px;
    border: 2px solid gray;
    padding:10px;
}

#titlepage .profiles li .transluent {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: #0d3349;
    opacity: 0.15
}

#titlepage .profiles li img {
    position:relative;
    top:-5px;
    left:15px;
    height: 45px;
}

#titlepage .profiles li:hover {
    cursor: pointer;
    border: 2px solid white;
}

#titlepage .profiles li:hover .transluent {
    background-color: white;
}

#titlepage h3 {
    position:relative;
    top:-7px;
    font-size: 24pt;
    font-weight:bold;
    color: #eee;
    padding:0;
}

#titlepage .footer {
    position:absolute;
    bottom:0;
    width: 100%;
}

#titlepage .footer p {
    text-align:center;
    color: #eee;
    font-size:9pt;
}