html, body {
    background-color: #555;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none;}

.book {
    position:absolute;
    left:235px;
    right:235px;
    top:5px;
    min-width: 350px;
    background-color: white;
    border: 1px solid #eee;
    box-shadow:1px 1px 3px #000;
    padding:10px;
}

#action-console {
    border:1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #333;
    background-color: #eee;
    padding:5px;
    height:135px;
}

#action-console h5 {
    text-align:center;
    padding-bottom:5px;
    border-bottom: 1px solid #555;
}

#action-console ul {
    margin:0;
    padding:0;
    max-height:130px;
    overflow-y: auto;
}

#action-console ul li {
    list-style: none;
    width: 100%;
}

.wide {
    right: 5px;
}

.narrow {
    right: 235px;
}

.book > .content {
    min-height: 630px;
    padding:10px;
}

.book > .location {
    font-weight:bold;
}

#reader {
    position:relative;
    padding:10px;
}

.book > .header {
    padding:10px;
}

.book > .footer {
    min-height: 9em;
}

.book > .header > p {
    text-align:center;
    font-weight:bold;
}

.book > h2 {
    font-size:14pt;
    text-align:center;
    margin-bottom: 10px;
}

.book > h4 {
    text-align:center;
    margin-bottom:10px;
}

.book > p {
    text-align: justify;
    font-size:120%;
}

#encounter {
    right: 5px;
}

#encounter label {
    font-size:80%;
}

#heroe {
    left: 5px;
}

.slide-panel {
    position:absolute;
    width: 200px;
    min-height:60em;
    padding:10px;
    background-color: #eee;
    box-shadow:1px 1px 3px #000;
    border-radius: 5px;
    bottom:5px;
    top:5px;
}

.stats {
    font-size:80%;
}